body {
  font-family: "Comic Sans MS", cursive;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 20px;
}

#gameArea {
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 20px auto;
  position: relative;
  border: 2px solid white;
}

.cat {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
}
